:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --default-font: , sans-serif;
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --section-color: #f5f4fa;
  --active-color: #2196f3;
  --heading-color: #212121;
  --paragraph-color: #757575;
  --footer-contact-color: rgba(100%, 100%, 100%, 0.3);
}
body {
  background-color: var(--main-color);
  color: var(--heading-color);
  font-family: var(--main-font);
  text-decoration: none;
  line-height: 1.7;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
}
.section-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--heading-color);
}
.button-style {
  cursor: pointer;
}
.header-style {
  background-color: var(--main-color);
}
.list {
  list-style: none;
}
.hero {
  background-color: var(--footer-color);
}
.hero-button {
  background-color: var(--active-color);
  font-weight: 700;
  font-size: medium;
  color: #ffffff;
  line-height: 1.81;
}
.main-nav-link {
  font-weight: 500;
  color: var(--heading-color);
  text-decoration: none;
}
.main-nav-link:hover {
  color: var(--active-color);
}
.current {
  color: var(--active-color);
}
.logo-web {
  font-family: var(--secondary-font);
  color: var(--active-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}
.logo-studio-darken {
  color: #000000;
}
.logo-studio-white {
  color: #ffffff;
}
.contacts {
  color: var(--paragraph-color);
  text-decoration: none;
}
.address-style {
  background-color: var(--footer-color);
  font-style: normal;
  line-height: 1.71;
}
.street-address {
  color: #ffffff;
}
.footer-info {
  color: rgba(100%, 100%, 100%, 0.6);
  text-decoration: none;
}
.footer-info:hover,
.contacts:hover {
  color: var(--active-color);
}
.features {
  background-color: var(--main-color);
}
.features-text {
  line-height: 1.71;
  color: var(--paragraph-color);
}
.portfolio {
  background-color: var(--main-color);
}
.portfolio-buttons {
  font-weight: 500;
  line-height: 1.62;
  background-color: var(--section-color);
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--active-color);
  color: #ffffff;
}
.portfolio-heading {
  font-size: 18px;
  line-height: 2;
  color: var(--heading-color);
  letter-spacing: 0, 06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--paragraph-color);
  letter-spacing: 0, 03em;
}
.portfolio-links {
  text-decoration: none;
}
.team {
  background-color: var(--section-color);
  font-size: 16px;
}
.team-name {
  font-weight: 500;
}
.team-position {
  color: var(--paragraph-color);
}
.work {
  background-color: var(--main-color);
}
.hidden-heading {
  visibility: hidden;
}
.features-title {
  text-transform: uppercase;
  letter-spacing: 0, 03em;
}
