body {
  font-family: 'Roboto' sans-serif;
  font-family: 'Railway' sans-serif;
  background-color: #e5e5e5;
  text-decoration: none;
  color: #212121;
  line-height: 1.7;
}
footer {
  background-color: #2f303a;
}
footer address {
  color: #ffffff 60%;
  font-style: normal;
  text-decoration: none;
}
p {
  font-style: normal;
  color: #757575;
}
a {
  text-decoration: none;
}
body h1 {
  font-size: 44;
  font-weight: 900;
}
h2 {
  font-size: 36;
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
button {
  cursor: pointer;
}
.team {
  background-color: #f5f4fa;
}
.logo-web {
  font-family: 'Raleway';
  font-size: 26;
  color: #2196f3;
}
.logo-studio-white {
  font-family: 'Raleway';
  color: #ffffff;
}
.logo-studio-darken {
  font-family: 'Raleway';
  color: #000000;
}
.hero {
  background-color: #2f303a;
  text-align: center;
  color: #ffffff;
}
.hero button {
  background: #2196f3;
  color: #ffffff;
  font-size: 16;
  text-align: center;
}
.list {
  list-style: none;
}
.current {
  color: #2196f3;
}
.footer-style {
  color: (#ffffff, 60%);
}
