$fonts: (
  'main': 'Roboto',
  'secondary': 'Raleway',
  'default': sans-serif,
);
$colors: (
  'main': #ffffff,
  'footer': #2f303a,
  'section': #f5f4fa,
  'active': #2196f3,
  'heading': #212121,
  'paragraph': #757575,
  'icon': #afb1b8,
);
$shadows: (
  'standart': 0px 1px 1px rgba(0, 0, 0, 0.12) 0px 4px 4px rgba(0, 0, 0, 0.06)
    1px 4px 6px rgba(0, 0, 0, 0.16),
);
