.hero {
  background-image: linear-gradient(#2f303a28, #2f303a28),
    url('../images/hero-image.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: getColor('heading');
  text-align: center;
  padding: 200px 0;

  &__title {
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    color: getColor('main');
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.hero__button {
  border-radius: 4px;
  background-color: getColor('active');
  font-size: 16px;
  font-weight: 700;
  font-size: medium;
  color: getColor('main');
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
