.hero {
  background-image: linear-gradient(#2f303a28, #2f303a28),
    url('../images/mobile-hero.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: getColor('heading');
  text-align: center;
  padding: 118px 0;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(#2f303a28, #2f303a28),
      url('../images/mobile-hero@2x.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(#2f303a28, #2f303a28),
      url('../images/tab-hero.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  }

  @media (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(#2f303a28, #2f303a28),
      url('../images/hero-image.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  }
}

//Секция-герой, изображения с разной ретинной для разных экранов

@media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(#2f303a28, #2f303a28),
      url('../images/tab-hero@2x.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(#2f303a28, #2f303a28),
      url('../images/hero-image@2x.jpg'), linear-gradient(#c4c4c4, #c4c4c4);
  }
}
//оформление текста, секции

.hero__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.62;
  color: getColor('main');
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
//Кнопка герой
.hero__button {
  border-radius: 4px;
  background-color: getColor('active');
  font-size: 16px;
  font-weight: 700;
  font-size: medium;
  color: getColor('main');
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
