@import '../utils/variables';
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  &.modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: getColor('main');
  box-shadow: getShadow('standart');
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0%, 0%, 0%, 0.1);
  background-color: getColor('main');

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: getColor('active');
  }
}

.close-icon {
  width: 11px;
  height: 11px;
}
.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

.fill-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  &:not(:last-child) {
    margin-top: 10px;
  }
}

.form-icon {
  position: absolute;

  left: 12px;
  bottom: 14px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.human-icon {
  width: 12px;
  height: 12px;
}
.old-phone-icon {
  width: 13px;
  height: 13px;
}
.envelope-icon {
  width: 15px;
  height: 13px;
}
.form-field {
  outline: none;
  border-radius: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: getColor('active');
  }
}

.form-field:focus + .form-icon,
.form-field:hover + .form-icon {
  fill: getColor('active');
}
.comment-field {
  resize: none;
  border-radius: 4px;
  border-color: #21212132;
  margin-top: 4px;
  padding: 16px 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.modal-form {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.agreement-check {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border-radius: 4px;
  border: 2px solid;
  border-color: getColor('heading');
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  width: 16px;
  height: 15px;
  fill: getColor('main');
}

.checkbox:checked + .agreement {
  border-color: getColor('active');
  background-color: getColor('active');
}
.agreement-link {
  color: getColor('active');
}
.submit-button {
  cursor: pointer;
  color: getColor('main');
  background-color: getColor('active');
  line-height: 1.87;

  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 165px;
  margin-right: 163px;

  border-radius: 4px;
  border: 0;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: getShadow('standart');
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
