.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__buttons {
  font-weight: 500;
  line-height: 1.62;
  background-color: getColor('section');
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('active');
    color: getColor('main');
    box-shadow: getShadow('standart');
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project__title {
  font-size: 18px;
  line-height: 2;
  color: getColor('heading');
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__type {
  font-size: 16px;
  line-height: 1.87;
  color: getColor('paragraph');
}

.project__box {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: getColor('main');
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  background-color: #2196f3e6;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__text {
  padding: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project__link {
  display: block;
  text-decoration: none;
  background: getColor('main');

  &:hover .project__overlay,
  &:focus .project__overlay {
    transform: translateY(0);
  }
}

.project__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: var(--portfolio-shadow);
  }
}
