.team {
  background-color: getColor('section');
}

.team-list {
  display: flex;
  margin-top: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team-position {
  color: getColor('paragraph');
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}
.team-item {
  text-align: center;
  background-color: getColor('main');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: getColor('icon');
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: getColor('main');
    background-color: getColor('active');
  }
}
.social-icon {
  width: 20px;
  height: 20px;
}
