.header-style {
  background-color: var(--main-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.logo-web-header {
  display: flex;
  align-items: center;
  margin-right: 93px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.main-nav-link {
  position: relative;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--active-color);
}
.current {
  color: var(--active-color);
}
.main-nav-link.current::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--active-color);
  bottom: -1px;
  left: 0%;
}
.logo-web {
  font-family: var(--secondary-font);
  color: var(--active-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}

.main-nav {
  display: flex;
}
.main-nav-item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.contacts-link {
  display: flex;
  color: var(--paragraph-color);
  fill: var(--paragraph-color);
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}
.header-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contacts-item:not(:first-child) {
  margin-left: 50px;
}
.logo-studio-darken {
  color: #000000;
}
